/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    background-color: var(--backColor);
    background-image: var(--bgImage);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.rec-container {
    display: none;
    position: absolute;
    right: 22.5px;
    top: 22.5px;
    align-items: center;
}

.rec-container::after {
    content: '';
    width: 25px;
    height: 25px;
    background-size: contain;
    background-image: url('../images/rec.png');
}

.caption {
    margin-right: 8px;
}

.header__description {
    color: var(--secondTextColor);
}

.content__title {
    font-size: 18px;
    color: var(--secondTextColor);
}

.img-content__title {
    font-size: 18px;
    color: var(--secondTextColor);
}

.content__main-text {
    margin-bottom: 6px;
    color: var(--descriptionColor);
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 668px;
}

.main-content {
    line-height: 90px;
    display: flex;
    height: 100%;
    justify-content: end;
    flex-direction: column;
}

.under-content {
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.borders::after {
    top: 20px;
    right: 20px;
    position: absolute;
    content: '';
    border-color: var(--textColor);
    border-style: solid;
    border-width: 1px 1px 0 0;
    height: 25px;
    width: 25px;
}

.borders::before {
    bottom: 20px;
    left: 20px;
    position: absolute;
    content: '';
    border-color: var(--textColor);
    border-style: solid;
    border-width: 0 0 1px 1px;
    height: 25px;
    width: 25px;
}

.header__theme-menu {
    position: relative;
    width: 100%;
    margin-top: 20px;
    display: flex;
}

.header__theme-menu-list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.header__theme-menu-item {
    margin-right: 10px;
}

.header__theme-menu-item:last-child {
    margin-right: 0;
}

.header__theme-menu-button {
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    padding: 0 13px;
    border: 1px solid transparent;
}

.header__theme-menu-button:focus-visible {
    outline: 0;
    border-bottom-color: var(--textColor);
}

.header__theme-menu-button:focus {
    outline: 0;
    border-bottom-color: var(--textColor);
}

.header__theme-menu-button:hover {
    border-color: var(--hoverButton);
}

.header__theme-menu-button_active {
    pointer-events: none;
    border-color: var(--textColor);
}


.header__title {
    color: var(--titleColor);
    font-weight: 700;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    text-shadow: 4px 4px 0 var(--titleShadowColor);
}

.bold-text {
    font-weight: 700;
}

.normal-text {
    font-weight: 400;
}

.decor-text {
    background-color: var(--backgroundColor);
}

.header__description {
    width: 491px;
    margin: 0 20px 0 auto;
}

.main {
    max-width: 1024px;
    margin: 60px auto 0;
    padding: 0 20px;
}

.link {
    text-decoration: none;
    border: 1px solid transparent;
    text-shadow: 2px 2px 0 var(--backgroundColor);
}

.link:hover {
    border-bottom-color: var(--textColor);
}

.link:focus-visible {
    outline: 0;
    border-color: var(--textColor);
}

.link:focus {
    outline: 0;
    border-color: var(--textColor);
}

.main__usual {
    margin-bottom: 67px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.content__title {
    margin-bottom: 10px;
}

.usual__content {
    padding-left: 8px;
}

.usual__content .content__main-text:not(:last-child) {
    margin-bottom: 20px;
}

.usual__title {
    font-size: 18px;
}

.concentration__title {
    line-height: 1.5;
    font-size: 18px;
}

.advise__content {
    padding-left: 8px;
}

.advise-title {
    font-size: 18px;
}

.title-content-concentration {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 20px;
}

.concentration__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.main__concentration {
    margin-bottom: 70px;
}

.main__advise {
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.advise-title {
    margin-bottom: 20px;
}

.main__advise .content__main-text:not(:last-child) {
    margin-bottom: 20px;
}

.img-content__title {

    margin-bottom: 20px;
}

.img-content {
    margin-bottom: 45px;
}

.images {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
}

.images__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item__1 {
    grid-row: 1 / 3;
    grid-column: 1 / 7;
}

.advise__title {
    font-size: 18px;
}

.item__2 {
    grid-row: 1 / 5;
    grid-column: 7 / 10;
}

.item__3 {
    grid-row: 3 / 9;
    grid-column: 1 / 4;
}

.item__4 {
    grid-row: 3 / 5;
    grid-column: 4 / 7;
}

.item__5 {
    grid-row: 5 / 9;
    grid-column: 4 / 10;
}

.footer {
    position: relative;
    height: 100vh;
    display: flex;
    min-height: 668px;
    justify-content: center;
    align-items: center;
}

.footer__title {
    color: var(--titleColor);
    font-weight: 700;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    text-shadow: 4px 4px 0 var(--titleShadowColor);
}

@media (max-width: 850px) {
    .header {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
    }

    .header__theme-menu {
        height: 87%;
        align-items: flex-end;
    }

    .main-content {
        margin: 0;
        justify-content: center;
    }

    .title-content-concentration {
        margin-bottom: 18px;
    }

    .advise__content {
        padding-left: 12px;
    }

    .main__concentration {
        margin-bottom: 60px;
    }

    .concentration__content {
        display: flex;
        flex-direction: column;
    }

    .under-content {
        height: 59%;
    }

    .usual__content {
        padding-left: 12px;
    }

    .header__title {
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    }

    .header__theme-menu {
        margin: 0;
    }

    .header__theme-menu-list {
        flex-direction: column;
        margin-right: 0;
    }

    .header__theme-menu-item {
        margin-right: 20px;
        margin-bottom: 10px;
    }

    .header__description {
        width: 364px;
    }

    .concentration__title {
        line-height: 1.4;
        width: 150px;
    }

    .usual__title {
        margin-right: 10px;
    }

    .advise__title {
        margin-right: 10px;
    }
}

@media (max-width: 600px) {
    .header__theme-menu {
        height: 81%;
    }

    .borders::after {
        top: 10px;
        right: 10px;
    }

    .main-content {
        height: auto;
    }

    .under-content {
        height: 70%;
    }

    .usual__content {
        padding-left: 0;
    }

    .main__usual {
        margin-bottom: 40px;
    }

    .main__concentration {
        margin-bottom: 38px;
    }

    .advise__content {
        padding-left: 0;
    }

    .concentration__content {
        gap: 15px
    }

    .header {
        padding: 0 10px;
    }

    .borders::before {
        bottom: 10px;
        left: 10px;
    }

    .header__title {
        line-height: 95px;
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    }

    .header__description {
        width: 100%;
        margin-top: 55px;
    }

    .header__theme-menu-item {
        margin-right: 0;
    }

    .main {
        padding: 0 10px;
        margin-top: 40px;
    }

    .main__usual {
        display: flex;
        flex-direction: column;
    }

    .usual__title {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .concentration__title {
        width: 100%;
    }

    .title-content-concentration {
        display: flex;
        flex-direction: column;
    }

    .concentration__content {
        display: flex;
        flex-direction: column;
    }

    .advise__title {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .main__advise {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
    }

    .img-content__title {
        margin-bottom: 10px;
    }

    .images {
        display: flex;
        gap: 5px;
        flex-direction: column;
    }

    .img-content {
        margin-bottom: 40px;
    }

    .footer__title {
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    }
}
